img { border: none; }

.photo-section {
	width: 600px;
	height: auto;
	margin: 0 auto;
	font-weight: 200;
	font-size: 0.9em;
	letter-spacing: 1px;
}

.photo-head {
	border-left: 1px solid #cacece;
    border-right: 1px solid #cacece;
    border-top: 1px solid #cacece;
	border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 1em;
    overflow: hidden;
    text-align: center;
}

.backBtn { float: left; }
.ogFile { float: left; }
.delBtn { float: left; }

.btn {visibility: hidden; }

.photo {
	border: 1px solid #cacece;
	text-align: center;
}

.visible { visibility: visible; }

.tag-section {
	text-align: center;
	padding: 1em;
	border-left: 1px solid #cacece;
    border-right: 1px solid #cacece;
    border-bottom: 1px solid #cacece;
	border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px
}

input {
	width: 30%;
	padding: 0.2em;
}

.commit-section {
	text-align: center;
	margin-top: 1em;
	letter-spacing: 1px;
	font-weight: 200;
	font-size: 0.9em;
	display: none;
}

.ajax-loading {
	text-align: center;
	margin: 1em;
	display: none;
}

.response {
	text-align: center;
	margin-top: 1em;
	display: none;
}